<div class="top">
  <p>Steven Turek</p>
</div>

<div>
  <p>welcome</p>
</div>

<p>
{{#link-to 'projects'}}Projects{{/link-to}}
</p>

<div class="projects">
  {{outlet projects}}
</div>

<p>
{{#link-to 'resume'}}Resume{{/link-to}}
</p>

<div class="resume">
  {{outlet resume}}
</div>
